<!DOCTYPE html>

<head>
	<title>URL Shortener</title>
</head>

<body>
	<header id="container">
		<h1 class="page-title-center">Short URL practice</h1>
		<p>See Me in views/static/index.html.erb</p>
	</header>

	<div id="form_container">
		<form action="/urls" method="post">
			<fieldset>
				<input id='short_url_field' type="text" name="long_url" placeholder="Paste a link to shorten it">
				<input id='shorten_bttn' type="submit" value="Submit">
			</fieldset>
		</form>
	</div>




</body>
