<h1>Short URL practice</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<% if @url %>
	<%= @url.short_url %>
	<%= @url.long_url %>
<% end %>