<h1>Short URL practice</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<% unless @url.nil? %> 
<p> You have inluded <%= @url.long_url %> into the database. </p>
<p> Your short URL:
<a href="<%= @url.short_url %>"><%=@url.short_url %></a></p>
<% end %>